body {
    background: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 1rem;
    border: 1px solid black;
    border-radius: .5rem;
    background: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#root {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

article,
h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: grid;
    gap: 1rem;
}

table {
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background: #f9f9f9;
}
tbody tr:hover {
    cursor: pointer;
    background: #e0e0e0;

}

td {
    padding: 1rem;
}